*{
 font-family: 'Roboto', sans-serif;
}


.form-item{
    padding: 0px;
    margin: 0px;
}

input {
    width: 250px;
}

.loginLogo {
    width: 150px;
  display: block;
  margin: 10px 50px;
}



.btnLogin {
    background: #FFD600;
    width: 250px;
    height: 30px;
    color: black;
    border: none ;
}

.cont{
   align-items: center;
   display: flex;
   flex-direction: column;
}

