.heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.ui-container{
    form{
        input{
            margin-left: 20px;
        }
    }
}

.h1-home{
    margin: 0px 0px 0px;
}